* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Arial';
    font-size: 14px;
    line-height: 20px;
    color: white;
    background: black;
}

@media only screen and (max-width: 600px) {
    .mainBox {
        width: 300px;
    }
}

@media only screen and (max-height: 700px) {
    .mainBox {
        margin-top: 50px;
    }
}
