body {
}

#block_container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin-right: 1.23em;
}

.react-switch {
    vertical-align: middle;
    margin-left: 4px;
}
   